li.active{
    background-color: rgb(168 85 247 / 1);
    color: white !important;
}

.topNavSideDiv{
    width: calc(100vw - 15rem);
}


/* CSS */
:root{
    --bg-main:#eee
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none !important;
    display: inline-block;
    color: inherit;
  }
  
  .userbox{
    text-align: center;
    box-shadow: 3px 3px 5px #e3e3e3, -3px -3px 5px #e3e3e3;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
  }
  .userbox input,
  .userbox select{
    width: 100%;
    margin: 10px 0;
    height: 47px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 12px;
    outline: none;
    font-size: 16px;
    color: #757575;
  }
  .box{
    margin-top: 20px;
    box-shadow:  3px 3px 5px #e3e3e3, -3px -3px 5px #e3e3e3;
    padding: 30px 50px 50px;
    border-radius: 20px;
  }
  .box input,
  .box select{
    width: 100%;
    margin: 10px 0;
    height: 47px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 15px;
    outline: none;
    font-size: 16px;
    color: #a5a4a4;
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .box input[type='file']{
    display: flex;
    align-items: center;
    padding: 7px 5px;
  }
  .box input[type='radio']{
    margin-top: 10px;
    margin-right: 5px;
  }

  .box textarea{
    border: 1px solid #aaaaaa;
    margin: 10px 0;
    border-radius: 5px;
  }
  .box .nav-tabs{
    border-color: #A855F7;
  }
  .box .nav-tabs .nav-link:hover{
    border-bottom-color: #A855F7;
  }
  .box .nav-tabs .nav-item .nav-link.active{
    color: #A855F7;
    border-color: #A855F7;
    /* border-bottom: none !important; */
  }
  .box .nav-tabs .nav-link{
    color: #000;
  }
  .box input[type='radio']{
    width: auto;
  }
  .btn-1,.btn-2{
    padding: 10px 20px;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
  }
  .btn-2{
    background-color: red;
  }
  .viewbox{
    box-shadow: 3px 3px 5px #e3e3e3, -3px -3px 5px #e3e3e3;
  }
  
/* CSS End */